# Dependencies
node_modules/

# Builds
dist/
build/

# Environment
.env
.env.*

!.env.example

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Temporary
tmp/
temp/

# Docker
docker-data/